
<div class="section">
    <div class="container-fluid container-lg mt-5 pt-5 pb-8">
        <div class="row justify-content-center">
            <div class="col-md-12">
            {% if ad.count() > 0 %}
                {% if ad.is_image %}
                    <img class="img-fluid w-100" src="{{ad.image.path}}" alt="">
                {% else %}
                    {{content|raw}}
                {% endif %}
            {% else %}
                <a href="{{'contact'|page}}">
                    <img class="img-fluid w-100" src="{{('assets/images/ad-banner-' ~ activeLocale ~ '.jpg')|theme}}" alt="CookwithSouSou">
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</div>