<div class="blog-post-card mb-7 pb-7 border-bottom border-primary">
	<a href="/recipe/single">
		<h2 class="h3">Welcome to Cook with Sousou</h2>
	</a>
	<small><a href="#">News</a><span class="text-primary mx-2 border-right border-primary"></span><span>May 14, 2018</span></small>
	<div class="row mt-3 mr-3">
		<div class="col-md-4">
			<img src="{{'assets/images/blog-post-thumb.jpg'|theme}}" alt="" class="img-fluid">
		</div>
		<div class="col-md-8 d-flex flex-column justify-content-between">
			<div class="content mt-3 mt-md-0">
				<p class="f15">We’ve spent a heap of time understanding what you love and have added even more of the good stuff to help you keep your loved ones full and happy. Sousou loves nothing better than sharing her delicious recipes with others, her philosophy has always been to look after those she holds dear by using the</p>
			</div>
			<div class="read-more">
				<a href="/recipe/single" class="btn btn-primary float-right f15">Read Full Article</a>
			</div>
		</div>
	</div>
</div>
