<div class="blog-post-card mt-3 pb-4 border-bottom border-primary">
	<a href="/recipe/single">
		<h2 class="h3">Welcome to Cook with Sousou</h2>
	</a>
	<small><a href="#">News</a><span class="text-primary mx-2 border-right border-primary"></span><span>May 14, 2018</span></small>
	<div class="row mt-3 mr-3">
		<div class="col-md-4">
			<img src="{{'assets/images/blog-post-thumb.jpg'|theme}}" alt="" class="img-fluid">
		</div>
		<div class="col-md-8 d-flex flex-column justify-content-between">
			<div class="content mt-3 mt-md-0">
				<p> Imagine taking your favourite soft drink and turning it into a tasty food sensation. In Sousou’s kitchen nothing is impossible, she loves experimen... </p>
			</div>
			<div class="read-more">
				<a href="/recipe/single" class="btn btn-primary float-right">Read More</a>
			</div>
		</div>
	</div>
</div>
