[recipes]
==
public function onStart() {
	$cats = [
		[
			'title' => 'Appetizers',
			'slug' => 'appetizers',
		],

		[
			'title' => 'Chicken',
			'slug' => 'chicken',
		],
		[
			'title' => 'Meat',
			'slug' => 'meat',
		],
		[
			'title' => 'Fish & Seafood',
			'slug' => 'fish',
		],
		[
			'title' => 'Desserts',
			'slug' => 'oriental-desserts',
		],
	];
	

	for ($i = 0; $i < count($cats); $i++) {
		$cats[$i]['recipes'] = $this['recipes']->getRecipesForMenu($cats[$i]['slug']);
	}

	
	$this['menucats'] = $cats;
	
}
==
<section class="py-6 arrow-border-top arrow-border-bottom" style="background:url({{'assets/images/background.jpg'|theme}});">
	<div class="container">
		<h3 class="mb-5">{{'Follow us on Instagram'|_}}</h3>
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="spin mb-5">
					<img src="{{'assets/images/instagram.png'|theme}}" alt="">
				</div>
				<h2 class="f30 mb-3">{{'Never miss a Recipe!'|_}}</h2>
				<p class="f22 mb-3 text-primary">{{'Subscribe and get the latest recipes and news delivered to your inbox.'|_ }}</p>
				
			</div>

				<div class="col col-md-8 col-lg-6">
					<form action="">
						<div class="input-group mx-auto">
							<input type="text" class="form-control form-control-lg" placeholder="{{'Your email address'|_}}..">
							<div class="input-group-append">
								<button class="btn btn-primary btn-lg px-3" type="button">{{'Subscribe'|_}}</button>
							</div>
						</div>
					</form>	
				</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="container">

		<div class="row">
			<div class="col-sm footer-logo text-center">
				<img src="{{'assets/images/logo.png'|theme}}" class="img-fluid mx-auto" width="200px">
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
				{% for cat in menucats %}
				<div class="col-sm footer-nav">
					<h4 class="mb-4 title">{{ cat['title']|_}}</h4>
					<ul class="list-menu">
						{% for item in cat['recipes'] %}
							<li>
								<a href="{{'recipe'|page({slug:item.slug})}}" class="text-capitalize">{{ item.title|lower }}</a>
							</li>
						{% endfor %}
						<li>
							<a href="{{'all-recipes'|page({slug:cat['slug']})}}">{{'View More'|_}}</a>
						</li>
					</ul>
				</div>
				{% endfor %}
		</div>
		<div class="row mt-6 pt-3 mb-3 border-top border-primary text-center d-flex align-items-center">
			<div class="col-sm mb-3 mb-sm-0">
				<a href="#">© {{'2020 Cook With Sousou. All rights reserved.'|_}}</a>
			</div>
			<div class="col-sm">
				<ul class="social-icons-lists icons-background-rounded centre">
					<li class="social-icons-list-item">
						<a href="https://www.facebook.com/cookwithsousou/" target="_blank" class="social-icon">
							<span class="socicon socicon-facebook" style="padding: 10px; font-size: 16px; background-color: #3e5b98"></span>
						</a>
					</li>
					<li class="social-icons-list-item">
						<a href="https://www.instagram.com/cookwithsousou/" target="_blank" class="social-icon">
							<span class="socicon socicon-instagram" style="padding: 10px; font-size: 16px; background-color: #9c7c6e"></span>
						</a>
					</li>
					<li class="social-icons-list-item">
						<a href="https://www.pinterest.com/cookwithsousou/" target="_blank" class="social-icon">
							<span class="socicon socicon-pinterest" style="padding: 10px; font-size: 16px; background-color: #c92619"></span>
						</a>
					</li>
					<li class="social-icons-list-item">
						<a href="https://youtube.com/channel/UCdkXyJj8AD1tfbq4eTZw63Q/" target="_blank" class="social-icon">
							<span class="socicon socicon-youtube" style="padding: 10px; font-size: 16px; background-color: #e02a20"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm justify-content-center d-flex">
				<ul class="nav">
					<div class="nav-item">
						<a href="#" class="nav-link">{{'Terms & Conditions'|_}}</a>
					</div>
					<div class="nav-item">
						<a href="#" class="nav-link">{{'Privacy Policy'|_}}</a>
					</div>
				</ul>
			</div>
		</div>
	</div>

</footer>
