[recipes videos]
limit = 6
recipe_type = "VIDEO"
==
{% set allVideos = videos.allRecipes() %}
{% set firstVideo = allVideos.first %}
<section class="py-7">
		<div class="container">
			<div class="d-flex justify-content-between">
				<h3 class="mb-3">{{'Videos'|_}}</h3>
				<div>
					<a href="/videos" class="btn btn-primary">{{'View More'|_}}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
                    <div class="card">
                        <a href="{{'videos'| page({slug: firstVideo.slug})}}">
                        <div class="card-thumb red-hover">
                            <img src="{{firstVideo.img.path}}" class="img-fluid thumb" alt="" style="">
                            <div class="play-icon">
                                <i class="play circle outline icon big text-white"></i>
                            </div>
                        </div>
                        </a>
                        {# <img src="{{'assets/images/video_image.jpg'|theme}}" alt="" class="card-image-top img-fluid player-icon"> #}
                        <div class="card-body">
                            <h2 class="card-title">
                                <a href="/{{firstVideo.slug}}">{{firstVideo.title}}</a>
                            </h2>
                            <div class="card-subtitle">{{'Posted'|_}} {{firstVideo.created_at.format('l j, Y')}}</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating text-primary">
                                    {% partial 'rating' %}
                                </div>
                                <div class="share d-flex align-items-center">
                                    <span class="f22 text-primary">{{'Share'|_}}:</span>
                                    {% partial 'share' %}
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<div
					class="col-lg-6 d-flex flex-column justify-content-between">
					{# repeating the card #}
					{% for video in allVideos.slice(1) %}
						<div class="card mt-3 mt-lg-0">
							<div class="row no-gutters">
								<div class="col-md-5">
                                    <a href="{{'videos'| page({slug: firstVideo.slug})}}">
                                    <div class="card-thumb red-hover">
                                        <img src="{{video.img.path}}" class="img-fluid thumb" alt="" style="">
                                        <div class="play-icon">
                                            <i class="play circle outline icon big text-white"></i>
                                        </div>
                                    </div>
                                    </a>
								</div>
								<div class="col-md-7">
									<div class="card-body">
										<h4 class="card-title">
											<a href="{{'videos'| page({slug: firstVideo.slug})}}">{{video.title}}</a>
										</h4>
										<p class="card-subtitle py-1">{{'Posted'|_}} {{video.created_at.format('l j, Y')}}</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="rating text-primary">
												{% partial 'rating' %}
											</div>
											<div class="share d-flex align-items-center">
												<span class="f18 text-primary">{{'Share'|_}}:</span>
												{% partial 'share' %}
											</div>
										</div>
									</div>
								</div>
							</div>
							{# <img src="{{'assets/images/video_image.jpg'|theme}}" alt="" class="card-image-top img-fluid player-icon"> #}
						</div>

					{% endfor %}
				</div>
			</div>
		</div>
	</section>