<section class="jumbotron main-search-box d-flex align-items-center" style="background:url({{ 'assets/images/home-background.jpeg'|theme }});background-position-y:34%;background-size:cover;">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-10 col-lg-7">
				<h1 class="title mb-5">Sousou’s Way of Sharing Delicious Recipess</h1>
				<form action="" class="form" id="main-search-form">
					<div class="input-group ">
						<input type="text" class="form-control form-control-lg" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" placeholder="I am looking for..">
						<div class="input-group-append">
							<button class="btn btn-primary px-4 ">Search</button>
						</div>
						<div class="input-group-append">
							<button class="btn btn-primary-inverted dropdown-toggle px-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</button>
							<div class="dropdown-menu" data-flip="false" data-boundary="window" style="max-height: 200px;overflow-y:auto;">
								{% for cat in recipes.getAllCategories() %}
									<a class="dropdown-item" href="{{cat.category_slug}}">{{cat.category_title}}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
