[staticMenu]
code = "main-menu"

[viewBag]
==
<nav  id="main-top-nav" class="navbar navbar-expand-lg fixed-top navbar-light bg-white arrow-border px-4" style="background: white;">
	<a class="navbar-brand" href="{{'home'|page}}">
		<img class="logo top" src="{{ 'assets/images/logo.png'| theme }}" alt="" width="" height="80px">
	</a>
	<div class="d-flex flex-row justify-content-center align-items-center">
		<i class="search icon red large link mx-4 d-lg-none d-block open-full-screen-search"></i>
		<button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#top-navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="top-navigation">
		<ul class="navbar-nav m-auto pr-3" id="page-link">
            {% if staticMenu.menuItems %}

				{% for item in staticMenu.menuItems if not item.viewBag.isHidden %}
					<li role="presentation" class="nav-item {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
						{% if item.url %}
							<a class="nav-link" href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
								<img src="{{ ('assets/images/' ~ item.viewBag.cssClass ~ '.png')| theme }}" alt="{{item.title}}" width="20" height="20" class="d-none d-lg-block m-auto">
								<div class="text-uppercase text-nowrap">{{ item.title|_ }}</div>
							</a>
						{% else %}
							<span>{{ item.title }}</span>
						{% endif %}
					</li>

				{% endfor %}
			{% endif %}

			<li class="nav-item d-block d-lg-none">
				<a 
					data-request="onSwitchLocale"
					data-request-data="locale: '{{activeLocale == 'en' ? 'ar' : 'en' }}'"
					class="nav-link cursor-pointer">
						{% if  activeLocale == 'en' %}
							العربية
						{% else %}
							English
						{% endif %}
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto social-icons-lists icons-background-rounded centre d-none d-lg-flex">
			<li class="nav-item d-flex align-items-center mr-2 mt-1">
				<a href="#" class="open-full-screen-search">
					<i class="search icon red large link"></i>
				</a>
			</li>
			{% partial 'main-nav-share' %}
			<li class="nav-item d-flex align-items-center">
				<div class="mx-2" style="height: 30px; border-left: 1px solid #c51d22;"></div>
				<a 
					data-request="onSwitchLocale"
					data-request-data="locale: '{{activeLocale == 'en' ? 'ar' : 'en' }}'"
					class="nav-link cursor-pointer">
						{% if  activeLocale == 'en' %}
							العربية
						{% else %}
							English
						{% endif %}
				</a>
			</li>
		</ul>
	</div>
</nav>