<nav class="navbar navbar-expand-lg navbar-light bg-white arrow-border" style="background: white;">
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="{{ 'assets/images/logo.png'| theme }}" alt="" width="" height="80px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="top-navigation">
    <ul class="navbar-nav mr-auto ml-5">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <img src="{{ 'assets/images/home.png'| theme }}" alt="home" width="20" height="20" class="d-block m-auto"> HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <img src="{{ 'assets/images/info.png'| theme }}" alt="home" width="20" height="20" class="d-block m-auto"> ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <img src="{{ 'assets/images/recipe.png'| theme }}" alt="home" width="20" height="20" class="d-block m-auto"> RECIPES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <img src="{{ 'assets/images/play.png'| theme }}" alt="home" width="20" height="20" class="d-block m-auto"> VIDEOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <img src="{{ 'assets/images/pencil.png'| theme }}" alt="home" width="20" height="20" class="d-block m-auto"> BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <img src="{{ 'assets/images/envolop.png'| theme }}" alt="home" width="20" height="20" class="d-block m-auto"> CONTACT</a>
      </li>
    </ul>
  </div>
</div>
</nav>