
<ul class="social-icons-lists icons-background-rounded centre">
	<li class="social-icons-list-item">
		<a href="{{this.theme.fb}}" target="_blank" class="social-icon">
			<span class="socicon socicon-facebook" style="padding: 10px; font-size: 16px; background-color: #3e5b98"></span>
		</a>
	</li>
	<li class="social-icons-list-item">
		<a href="{{this.theme.instagram}}" target="_blank" class="social-icon">
			<span class="socicon socicon-instagram" style="padding: 10px; font-size: 16px; background-color: #9c7c6e"></span>
		</a>
	</li>
	<li class="social-icons-list-item">
		<a href="{{this.theme.pintrest}}" target="_blank" class="social-icon">
			<span class="socicon socicon-pinterest" style="padding: 10px; font-size: 16px; background-color: #c92619"></span>
		</a>
	</li>
	<li class="social-icons-list-item">
		<a href="{{this.theme.youtube}}" target="_blank" class="social-icon">
			<span class="socicon socicon-youtube" style="padding: 10px; font-size: 16px; background-color: #e02a20"></span>
		</a>
	</li>
</ul>
