<div class="slider" id="main-slider">
	<div class="item">
		<a href="">
			<img alt="Salads" src="{{ 'assets/images/salad.jpg'|theme}}">
		</a>
		<a href="">
			Salads</a>
	</div>
	<div class="item">
		<a href="">
			<img alt="Soups" src="{{ 'assets/images/Soup-Plate-500x500.jpg'|theme}}">
		</a>
		<a href="">
			Soups</a>
	</div>
	<div class="item">
		<a href="">
			<img alt="Tarts" src="{{ 'assets/images/Tart-Plate-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Tarts</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Chicken" src="{{ 'assets/images/chicken-1-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Chicken</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Bread" src="{{ 'assets/images/Bread-Plate-1-500x500.png'| theme}}">
		</a>
		<a href="">
			Bread</a>

	</div>
	<div class="item">
		<a href="">
			<img alt="Beverages" src="{{ 'assets/images/Drink-Plate-500x500.png'| theme}}">
		</a>
		<a href="">
			Beverages</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Sandwiches" src="{{ 'assets/images/Sandwich-500x500.png'| theme}}">
		</a>
		<a href="">
			Sandwiches</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Appetizers" src="{{ 'assets/images/Appetiser-Plate-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Appetizers</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Breakfast" src="{{ 'assets/images/Breakfast-Plate-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Breakfast</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Fish and Seafood" src="{{ 'assets/images/Fish-Seafood-Plate-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Fish and Seafood</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Jams and Marmalade" src="{{ 'assets/images/Jams-Plate-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Jams and Marmalade</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Meat" src="{{ 'assets/images/cat-meat-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Meat</a>


	</div>
	<div class="item">
		<a href="">
			<img alt="Occidental Desserts" src="{{ 'assets/images/Occidental-Dessert-Plate-cwss-500x500.jpg'| theme}}">
		</a>
		<a href="">
			Occidental Desserts</a>


	</div>
</div>


