
<div class="card">
	<div class="row no-gutters">
		<div class="col-lg-5 d-flex card-thumb-container">
			<a href="#">
                <div class="card-thumb red-hover">
					{% if item.img.path %}
						<img src="{{item.img.thumb(500, 'auto')}}" class="img-fluid thumb" alt="{{item.title}}" style="">
					{% else %}
						<img src="{{'assets/images/video_image.jpg'|theme}}" class="img-fluid thumb" alt="{{item.title}}" style="">
					{% endif %}
                    <div class="play-icon">
                        <i class="play circle outline icon big text-white"></i>
                    </div>
                </div>
			</a>
		</div>
		<div class="col-lg-7 card-content-container">
			<div class="card-body">
				<h4 class="card-title">
					<a href="{{'videos'|page({slug: item.slug})}}">{{item.title}}</a>
				</h4>
				<p class="card-subtitle py-1">{{'Posted'|_}} {{item.created_at.format('j l, Y')}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="rating text-primary">
						{% partial 'rating' %}
					</div>
					<div class="share d-flex align-items-center">
						<span class="f18 text-primary">Share:</span>
						{% partial 'share' %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{# <img src="{{'assets/images/video_image.jpg'|theme}}" alt="" class="card-image-top img-fluid player-icon"> #}
</div>
