description = "Default layout"

[recipes]
limit = 4
recipe_type = "TEXT"
recipe_url = "recipe"

[ads]

[alternateHrefLangElements]

[localePicker]
forceUrl = 0

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "enabled"
thanksMessage = "Thanks for subscribing!"
errorMessage = "Something went wrong, Use unsubscribed/correct email!"

[yandexShare]


[googleTracker]
==
<?php
public function onStart() {
    $yandexShare = $this['yandexShare'];
    $yandexShare->setProperty('whatsapp', $this->theme->whatsapp_share);
    $yandexShare->setProperty('facebook', $this->theme->facebook_share);
    $yandexShare->setProperty('twitter', $this->theme->twitter_share);
    $yandexShare->setProperty('pinterest', $this->theme->pinterest_share);
}
?>
==
<!DOCTYPE html>
<html lang="{{activeLocale}}" {{activeLocale == 'en' ?: 'dir="prtl"'}}>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }} - {{this.theme.site_name}}</title>
        <meta name="title" content="{{this.page.meta_title}}">
        <meta name="description" content="{{this.page.meta_description}}">
        <meta name="author" content="October CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        <link rel="canonical" href="{{''|page}}" />
        <meta property="og:locale" content="{{activeLocale == 'en' ? 'en_US' : 'ar_AR'}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{this.page.meta_title}}" />
        <meta property="og:description" content="{{this.page.meta_description}}" />
        <meta property="og:url" content="{{''|page}}" />
        <meta property="og:site_name" content="{{this.theme.site_name}}" />
        <meta property="article:publisher" content="https://www.facebook.com/cookwithsousou/" />
        <meta property="og:image" content="{{this.page.image|default('assets/images/home-background.jpeg'|theme)}}" />
        <meta property="og:image:secure_url" content="{{this.page.image|default('assets/images/home-background.jpeg'|theme)}}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{this.page.meta_description}}" />
        <meta name="twitter:title" content="{{this.page.meta_title}}" />
        <meta name="twitter:image" content="{{this.page.image|default('assets/images/home-background.jpeg'|theme)}}" />

        {% component 'alternateHrefLangElements' %}
        {% styles %}
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,600&display=swap" rel="stylesheet">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ [ 'assets/css/app.css' ]|theme }}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
        
        
        {% component 'googleTracker' %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header" {{activeLocale == 'en' ?: 'dir="rtl"'}}>
            {% partial 'nav2' %}
        </header>

        <div style="padding-top:100px" {{activeLocale == 'en' ?: 'dir="rtl"'}}>
            {% page %}
        </div>

        <!-- Footer -->
        <footer id="layout-footer" {{activeLocale == 'en' ?: 'dir="rtl"'}}>
            {% partial "footer" %}
        </footer>

        <div class="full-screen-search d-flex justify-content-center align-items-center">
            <div class="red-background"></div>
            <div class="row w-100 justify-content-center">
                <div class="col-10  col-md-8 col-lg-5 box">
                    <form action=" " class="form position-relative">
                        <div class="form-group mb-0">
                            <input name="overlay_search_term" type="text" class="form-control" placeholder="{{'Search here'|_}}" data-request="recipes::onOverlaySearch" data-track-input="600" data-request-update="'overlay-search-result':'#overlay-search-result'">
                            <i class="icon search text-white big"></i>
                        </div>
                        <div class="list-group" style="position:absolute; max-height: 250px; overflow:auto;" id="overlay-search-result">
                        
                        
                        </div>
                    </form>
                    <a href="#" id="close-full-screen-search">
                        <i class="icon close text-white big"></i>
                    </a>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        {# <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> #}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="{{ 'assets/js/vendor.js' |theme }}"></script>
        <script src="{{ 'assets/js/reef.js' |theme }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js" integrity="sha256-+xf9aJnHocnmrigq2hIDJGBSAnJdF5NH+Ooe5J2PHiI=" crossorigin="anonymous"></script> #}
        <script src="{{ 'assets/js/app.js' |theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>