title = "Sousou’s Way of Sharing
Delicious Recipes"
url = "/"
layout = "default"
description = "CookWithSousou"
hidden = "0"
==

function onStart()
{
}

==
<div id="page-{{ this.page.id}}" class="layout-{{ this.layout.id }} featured-box">
	<section class="jumbotron main-search-box d-flex align-items-center" style="background:url({{ 'assets/images/home-background.jpeg'|theme }});background-position-y:34%;background-size:cover;">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-md-10 col-lg-7">
					<h1 class="title mb-5">Sousou’s Way of Sharing Delicious Recipess</h1>
					<form action="" class="form" id="main-search-form">
						<div class="input-group ">
							<input type="text" class="form-control form-control-lg" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" placeholder="I am looking for..">
							<div class="input-group-append">
								<button class="btn btn-primary px-4 ">Search</button>
							</div>
							<div class="input-group-append">
								<button class="btn btn-primary-inverted dropdown-toggle px-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<div role="separator" class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Separated link</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	{% partial 'horizontal-ads' %}
	<div class="container my-5">
		<h3 class="mb-2">What are you in the mood for?</h3>
		{% partial 'slider.htm' %}
	</div>

	<section
		class="position-relative recipe-of-day" data-parallax data-src="{{'assets/images/background.jpg'|theme}}" data-speed=".5">
		{# <div class=" parallax-1" data-parallax data-src="{{'assets/images/background.jpg'|theme}}">
									<img src="{{ 'assets/images/background.jpg'|theme}}" alt="" class="parallax">
								</div> #}
		<div class="container mt-3">
			<h3 class="mb-3">Recipe of the Day</h3>
			<div class="row no-gutters">
				<div class="col-md-7">
					<div class="youtube-player">
						<iframe class="youtube-player-iframe" src="//www.youtube.com/embed/2XRprOlz27g?wmode=transparent&amp;feature=youtu.be&amp;rel=0&amp;channel=UCdkXyJj8AD1tfbq4eTZw63Q" data-player-type="youtube" allowfullscreen="" id="gdlr-video-256053"></iframe>
					</div>
				</div>
				<div class="col-md-5 bg-white p-5">
					<div class="row">
						<div class="col-12">
							<a href="#" class="h3">Scaloppini al Limone</a>
							<p>
								<small>Posted August 29, 2018</small>
							</p>
							<div class="row no-gutters pb-3 border-bottom border-primary">
								<div class="col-6">
									<a href="#" class="border border-primary px-4 py-1">Meat</a>
								</div>
								<div class="col-6 d-flex align-items-center justify-content-end">
									<img class="mr-2" src="{{ 'assets/images/good-rate.png'| theme}}" alt="good-rating" width="25" height="25">
									<small>Serves: 6</small>
									<img class="ml-3 mr-2" src="{{ 'assets/images/clock.png'| theme}}" alt="good-rating" width="25" height="25">
									<small class="mr-3">Time: 40</small>
								</div>
							</div>
							<div class="pt-3 content">
								<p>Let Sousou tell you how to prepare this dish. Check out how to guarantee tender meat that comes with a tang.</p>
							</div>
							<div class="rating-and-social row no-gutters mb-3">
								<div class="col-5 text-primary" style="font-size: 1.5rem;letter-spacing: 2px;">
									{% partial 'rating' %}
								</div>
								<div class="col-7 d-flex align-items-center">
									<span class="text-primary mr-3" style="font-size: 22px">Share:
									</span>
									{% partial 'share-2' %}

								</div>
							</div>
							<a href="#" class="btn btn-primary btn-lg">View Full Recipe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="py-7">
		<div class="container">
			<div class="d-flex justify-content-between">
				<h3 class="mb-3">Videos</h3>
				<div>
					<a href="#" class="btn btn-primary">View More</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{% partial  'videocard' %}
				</div>
				<div
					class="col-md-6 d-flex flex-column justify-content-between">
					{# repeating the card #}
					{% for i in 0..2 %}
						<div class="card">
							<div class="row no-gutters">
								<div class="col-md-5">
									<a href="#" class="card-top">
										<div style="background-image: url({{ 'assets/images/video_image.jpg'|theme}})" class="card-image h-100">
											<i class="play circle outline icon "></i>
										</div>
									</a>
								</div>
								<div class="col-md-7">
									<div class="card-body">
										<h4 class="card-title">
											<a href="#">Maamoul Mad</a>
										</h4>
										<p class="card-subtitle py-1">Posted september</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="rating text-primary">
												{% partial 'rating' %}
											</div>
											<div class="share d-flex align-items-center">
												<span class="f18 text-primary">Share:</span>
												{% partial 'share' %}
											</div>
										</div>
									</div>
								</div>
							</div>
							{# <img src="{{'assets/images/video_image.jpg'|theme}}" alt="" class="card-image-top img-fluid player-icon"> #}
						</div>

					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section class="py-6 arrow-border-top arrow-border-bottom" data-parallax data-src="{{ 'assets/images/background.jpg'|theme}}" data-speed=".5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 d-flex justify-content-center">
					<img src="{{'assets/images/social-img-left.png'|theme}}" alt="Social Image" class="img-fluid">
				</div>
				<div class="text-center py-4 py-lg-1 col-lg-4 d-flex flex-column justify-content-center align-items-center">
					<h2 class="h1">SOUSOU is Social!</h2>
					<h3>Follow us on:</h3>
					<div class="mt-2" style="transform:scale(1.5);">
						{% partial 'share' %}
					</div>
				</div>
				<div class="col-lg-4 d-flex justify-content-center">
					<img src="{{'assets/images/social-img-right.png'|theme}}" alt="Social Image" class="img-fluid">
				</div>
			</div>
		</div>
	</section>

	<section class="pt-6">
		<div class="container">
			<div class="row">
				<div class="col-md-9 d-flex justify-content-between">
					<h3 class="mb-3">Sousou’s Favourites</h3>
					<div>
						<a href="#" class="btn btn-primary">View More</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						{% for i in 1..6 %}
							<div class="col-md-4 mb-4">
								{% partial 'post-card' %}
							</div>
						{% endfor %}

					</div>
				</div>
				<div class="col-md-3 d-flex justify-content-center">
					<img src="{{'assets/images/vertical-banner.jpg'|theme}}" alt="vertical add" class="img-fluid align-self-start">
				</div>
			</div>
		</div>
	</section>

	{% partial 'horizontal-ads' %}

	<section class="py-6">
		<div class="container">
			<div class="row">
				<div class="col-md-7">

					<div class="d-flex justify-content-between">
						<h3 class="mb-4">Blog</h3>
						<div>
							<a href="#" class="btn btn-primary">View More</a>
						</div>
					</div>
					{% partial 'blog-post-card' %}
					{% partial 'blog-post-card' %}
				</div>
				<div class="col-md-5 d-flex justify-content-center bg-primary">
					<div class="author-note text-white pt-5 px-3">
						<h2 class="text-white text-center mb-4">Meet Sousou!</h2>
						<div class="row">
							<div class="col-md-5 text-center mb-3">
								<img src="{{'assets/images/author-img.jpg'|theme}}" alt="Sousou" class="img-fluid">
								<div class="info text-center py-5">
									<h3 class="author">Teta Sousou</h3>
									<div class="designation fs22">Culinary Artist</div>
								</div>
								<img src="{{'assets/images/logo-white.png'|theme}}" alt="logo" class="img-fluid" style="width:120px;">
							</div>
							<div class="col-md-7 text-justify text-bold f12 font-smooth">
								<p>
									I hope the passion I have for making people happy, through my dishes, is something I can continue to share with all of you. Since I’ve been cooking, my recipes have travelled the world and my plastic containers have crossed continents, simply to put smiles on hundreds of hungry faces.
								</p>
								<p>To some people, it was a priceless taste of a home they missed, to others, a surprising brand-new experience, but my vision for Cook with Sousou has always been just to share my love for cooking with as many people as I can</p>
								<p>Although my culinary journey started in Lebanon, my recipes are also inspired by my time living and cooking in Cyprus. I regularly shared my love for cooking with my friends from all over the world in Armenia, Greece, Morocco, Cyprus, Syria, Iraq, France and India and in return they shared with me their favourite ingredients, hints and tips and different cooking methods which have been woven together to create a truly diverse collection of sensational recipes.</p>
								<p>I hope that you enjoy browsing through and trying some of the recipes I’ve included here. I love learning and trying new recipes, so if there’s something you’d like me to try out send me a message here and I’ll give it a go.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>





