title = "Videos"
url = "/videos/:slug?"
layout = "default"
description = "CookWithSousou"
is_hidden = 0
==
public function onStart() {
	$this['v'] = $this['recipes']->getVideo($this->param('slug'));
	$this['data'] =  $this['recipes']->getAllVideos();
	$this['allVideos'] = $this['recipes']->getAllVideos($paginate = false, $limit = 12);
	$this['categories'] = $this['recipes']->getAllCategoriesWithVideo();
}

public function onFilterVideos() {
	$this['data'] = $this['recipes']->getAllVideos();
	$this['categories'] = $this['recipes']->getAllCategoriesWithVideo();
	$this['term'] = input('term');
	$this['cats'] = input('cats');
}
==
<div id="page-{{ this.page.id}}" class="layout-{{ this.layout.id }} featured-box">
	<section class="py-7"></section>
	{# Video Section #}
	<section>
		<div class="image-background" style=""></div>
		<div class="container">
			<div class="vidoe-container">
				<div class="video-section">
					<div class="row no-gutters">
						<div class="col-md-7 col-lg-8 d-flex videopage-main-video">
							{# <img src="{{'assets/images/post-thumb-2.jpg'|theme}}" class="img-fluid" alt=""> #}
								<iframe class="youtube-player-iframe w-100" src="http://www.youtube.com/embed/{{ v.video | youtubeId }}?wmode=transparent&amp;feature=youtu.be&amp;rel=0&amp;channel=UCdkXyJj8AD1tfbq4eTZw63Q" data-player-type="youtube" allowfullscreen="" id="youtube-video-01" style="height:425px;"></iframe>
							<div class="bottom-overlay px-3">
								<div class="row align-items-center justify-content-between">
									<div class="col">
										<h4 class="text-white mb-0 py-3">{{ v.title }}</h4>
									</div>
									<div class="col-auto">
										<div class="rateit rateit-bg" 
											id="rateit_{{v.id}}" data-postid="{{v.id}}" 
											data-rateit-starwidth="24" 
											data-rateit-starheight="24" 
											data-rateit-value="{{v.total_rating == 0 ? 0 : (v.total_rating / v.total_votes)}}" 
											data-rateit-step="1" 
											data-rateit-resetable="false" 
											data-rateit-readonly="false">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-lg-4 bg-primary px-3 d-flex flex-column">
							<h2 class="text-white mt-2">{{'Sousou\'s Favourites'|_}}</h2>
							<div class="video-cards-container flex-fill d-flex justify-content-between flex-column">
								{% for item in v.related %}
									<div class="card-video-section border-bottom border-white mb-3 mb-md-0 row no-gutters">
										<div class="row no-gutters">
											<div class="col-md-6">
												<a href="{{'videos'|page({slug: item.slug})}}">
													<div class="card-thumb red-hover">
														{% if v.img.path %}
															<img src="{{item.img.thumb(600, 'auto')}}" class="img-fluid thumb" alt="" style="">
														{% else %}
															<img src="{{'assets/images/video_image.jpg'|theme}}" class="img-fluid thumb" alt="" style="">
														{% endif %}
														<div class="play-icon">
															<i class="play circle outline icon big text-white"></i>
														</div>
													</div>
												</a>
											</div>
											<div class="col-md-6 pl-0 pl-md-3 card-content my-3 my-md-0">
												<a href="{{'videos'|page({slug: item.slug})}}">
													<h5 class="text-white mb-1">{{item.title}}</h5>
												</a>
												<small class="text-white">{{'Posted'|_}} {{item.created_at.format('F j, Y')}}</small>
												<div class="col-auto">
													<div class="whitestar rateit rateit-bg" 
														id="rateit_{{v.id}}" data-postid="{{v.id}}" 
														data-rateit-starwidth="24" 
														data-rateit-starheight="24" 
														data-rateit-value="{{item.total_rating == 0 ? 0 : (item.total_rating / item.total_votes)}}" 
														data-rateit-step="1" 
														data-rateit-resetable="false" 
														data-rateit-readonly="false">
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if v.recipe_type == 'BOTH' %}
			<a class="btn btn-outline-primary mt-3 text-capitalize"
				href="{{'recipe'|page({slug: v.slug})}}"
			>
				<i class="icon book"></i>
				{{'Read This Recipe'|_}}
			</a>
			{% endif %}
		</div>
	</section>
	{# video search bar #}
	<section class="container mt-7" id="app">
		<div class="row border border-size-2 border-off-white  mx-0 py-3 py-md-2">
			<div class="col-md-12 col-lg-6 mb-3 mb-lg-0 order-lg-2">
				<form id = "video-category-search"
					data-request="onFilterVideos" 
					data-request-data="cats:{{cats| json_encode() }}"
					data-request-update="videos-list: '#video-card-grid','paginator':'#paginator', 'videos-category-filter':'#videos-category-filter'">

					<div class="input-group">
						<input type="text" name="term" class="form-control form-control-lg">
						<input type="hidden" name="page" value="1">
						<div class="input-group-append">
							<button type="submit" class="btn btn-primary btn-lg">{{'Search'|_}}</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-md-3 d-none d-md-flex align-items-center order-lg-1">
				<h2 class="d-inline mb-0 mr-2">{{'View'|_}}</h2>
				<i class="icon th button big mr-2 cursor-pointer" id="video-grid-button"></i>
				<i class="icon th list button big text-primary cursor-pointer" id="video-list-button"></i>
			</div>

			<div class="col-md-9 col-lg-3 d-flex align-items-center justify-content-end order-lg-3"
				id="paginator"
			>
				{% partial 'paginator'  %}
			</div>
		</div>
	</section>
	<section class="container mt-7">
		<div class="row no-gutters">
			<div class="col-md-2 mb-3">
				<div class="fiter-container border border-size-2 border-off-white p-3">
					<div class="h2 border-bottom border-primary pb-2">{{'Filter'|_}}</div>
					{% partial 'videos-category-filter' %}
				</div>
			</div>
			<div class="col-md-7 px-4" id="video-card-grid">
				{% partial 'videos-list' %}
			</div>
			<div class="col-md-3 d-flex justify-content-center">
				{% component 'ads' space_code = "videos_vertical_sidebar" %}
			</div>
		</div>
	</section>

	<section class="container mt-7 mb-5">
		<div class="row">
			{% for video in allVideos  %}
				<div class="col-md-4 col-lg-3 col-6"  >
					<a href="{{'videos'|page({slug: video.slug})}}">
					{% if video.img.path %}
						<div class="square-box square-post-01" style="background:url({{video.img.thumb(300, 300)}});">
					{% else %}
						<div class="square-box square-post-01" style="background:url({{'assets/images/post-thumb-3.jpg'|theme}});">
					{% endif %}
						<div class="play-icon">
							<i class="play circle outline icon big text-white"></i>
						</div>
						<div class="bottom-overlay">
							<div class="row align-items-center justify-content-between">
								<div class="col">
									<p class="text-white mb-0">{{video.title}}</p>
								</div>
								<div class="col-auto">
									<div class="rating text-white">
										<i class="icon star mr-0"></i>
										<i class="icon star mr-0"></i>
										<i class="icon star mr-0"></i>
										<i class="icon star outline mr-0"></i>
										<i class="icon star outline mr-0"></i>
									</div>
								</div>
							</div>
							
						</div>
						

					</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>
</div>

