
@import 'socicons';
@import 'variables';

#top-navigation {
    .nav-item {
        margin-left: 16px;
        margin-right: 16px;
        color: #c0c0c0;
        img {
            margin-bottom: 10px !important;
        }
    }
}

.arrow-border:after {
    background-image: url(../../assets/images/border-icon.png);
    background-size: 50px 18px;
    display: inline-block;
    width: 100%;
    position: absolute;
    height: 18px;
    content: "";
    bottom: -18px;
    left: 0;
    z-index: 1;
}

#page-home {
    .main-search-box {
        min-height: 400px;
        h1 {
            font-weight: 500;
            color: #fff;
            font-size: 35px;
            text-shadow: 0 2px 7px #0000009e;
        }
    }
}

h3 {
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}


.btn-primary-inverted {
    background-color: $white;
    color: map-get($theme-colors, "primary");
}

#main-search-form {
    .form-control-lg {
        height: 57px;
    }
    .btn {
        letter-spacing: .8px;
        font-size: 19.5px;
        line-height: 19.5px;
    }
    .btn-primary-inverted {
        border: 1px solid map-get($theme-colors , 'primary' );
    }
}