
@import 'socicons';
@import 'share';
@import 'variables';
#main-slider {
    .item  {
        text-align: center;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
            transition: all .3s;
            padding: 10px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
#main-top-nav {
    .nav-item {
        margin-right: 16px;
        color: #c0c0c0;
    }
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        img {
            margin-top: 0px !important;
        }
    }

    &:not(.mini-nav) {
        .nav-item {
            margin-left: 16px;
            img {
                margin-bottom: 10px !important;
            }
        }
    }
    &.mini-nav {
        padding-bottom: 0px;
        .top.logo {
            height: 45px;
        }
        .nav-item {
            img {
                margin-right: 10px !important;
                display: inline-block !important;
                margin-bottom: 0px !important;
                margin-top: -4px !important;
            }
            .nav-link {
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}

<<<<<<< HEAD
.full-screen-search {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 100%;
    background: rgba(255, 0, 0, .6);
    z-index: 1050;
    transition:  bottom .2s ease-in-out;
    backdrop-filter: blur(1px);
    &.open {
        bottom: 0;
    }
    .box {
        i.icon.close {
            position: absolute;
            top: -80px;
            right: -80px;
        }
    } 
    .form-group {
        input {
            background: rgba(255, 255, 255, .1);
            font-size: 22px;
            color: white !important;
            border-color: white;
            &::placeholder {
                color: white !important;
            }
            &:focus {
                background: rgba(255, 255, 255, .1);
                border-color: white;
            }
        }
        .icon.search {
            position: absolute;
            right: 16px;
            top: 12px;
        }
    }
    // .red-background {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     filter: blur(4px);
    // }
}


=======
.shrink {
    .navbar-brand img {
        height: 40px;
    }

    #page-link {
        .nav-item .nav-link img {
            display: inline !important;
            margin-bottom: 5px !important;
            margin-right: 5px !important;
        }
    }
}

>>>>>>> ffad7967c231dcfc43d96f624f4c22ea5ce7dbe3
.arrow-border:after {
    background-image: url(../../assets/images/border-icon.png);
    background-size: 50px 18px;
    display: inline-block;
    width: 100%;
    position: absolute;
    height: 18px;
    content: "";
    bottom: -18px;
    left: 0;
    z-index: 1;
}

#page-home {
    .main-search-box {
        min-height: 470px;
        font-family: $font-family-sans-serif-heading ;
        h1 {
            font-weight: 500;
            color: #fff;
            font-size: 35px;
            text-shadow: 0 2px 7px #0000009e;
        }
        input {
            font-size: 20px;
        }
    }
}

h3 {
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}


.btn-primary-inverted {
    background-color: $white;
    color: map-get($theme-colors, "primary");
}

#main-search-form {
    .form-control-lg {
        height: 57px;
    }
    .btn {
        letter-spacing: .8px;
        font-size: 19.5px;
        line-height: 19.5px;
    }
    .btn-primary-inverted {
        border: 1px solid map-get($theme-colors , 'primary' );
    }
}


.youtube-player {
    padding-top: 52%;
    position: relative;
    .youtube-player-iframe {
        position: absolute;
        height: 100%;
        width: 100% !important;
        top: 0;
        left: 0;
        background-color: #000;
    }
}

.parallax-1 {
    position: absolute;
    top: 0;
}

.recipe-of-day {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    .parallax-1 {

    }
    .container h3 {
        z-index: 20;
        position: relative;
    }

}