
@import 'socicons';
@import 'share';
@import 'variables';
@import 'utility';
.cursor-pointer {
    cursor: pointer;
}
iframe {
    border: none;
}
#main-slider {
    .item  {
        text-align: center;
        cursor: pointer;
        width: 20%;
        img {
            width: 100%;
            height: auto;
            transition: all .3s;
            padding: 10px;
            opacity: 1;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &:not(.slick-initialized) {
        img {
            // opacity: 0;
        }
    }

    .slider-prev, .slider-next {
        position: absolute;
        top: 42%;
      }
      
      .slider-next {
        right: -30px
      }
      
      .slider-prev {
        left: -30px;
      }
}
#main-top-nav {
    .nav-item {
        margin-right: 16px;
        color: #c0c0c0;
    }
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        img {
            margin-top: 0px !important;
        }
    }

    &:not(.mini-nav) {
        .nav-item {
            margin-left: 16px;
            img {
                margin-bottom: 10px !important;
            }
        }
    }
    &.mini-nav {
        padding-bottom: 0px;
        .top.logo {
            height: 45px;
        }
        .nav-item {
            img {
                margin-right: 10px !important;
                display: inline-block !important;
                margin-bottom: 0px !important;
                margin-top: -4px !important;
            }
            .nav-link {
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}

.full-screen-search {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 100%;
    background: rgba(255, 0, 0, .6);
    z-index: 1050;
    transition:  bottom .2s ease-in-out;
    backdrop-filter: blur(1px);
    &.open {
        bottom: 0;
    }
    .box {
        i.icon.close {
            position: absolute;
            top: -80px;
            right: -80px;
        }
    } 
    .form-group {
        input {
            background: rgba(255, 255, 255, .1);
            font-size: 22px;
            color: white !important;
            border-color: white;
            &::placeholder {
                color: white !important;
            }
            &:focus {
                background: rgba(255, 255, 255, .1);
                border-color: white;
            }
        }
        .icon.search {
            position: absolute;
            right: 16px;
            top: 12px;
        }
    }
    // .red-background {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     filter: blur(4px);
    // }
}


.arrow-border:after {
    background-image: url(../../assets/images/border-icon.png);
    background-size: 50px 18px;
    display: inline-block;
    width: 100%;
    position: absolute;
    height: 18px;
    content: "";
    bottom: -18px;
    left: 0;
    z-index: 1;
}

#page-home, .featured-box {
    h1 {
        font-weight: 500;
        color: #fff;
        font-size: 35px;
        text-shadow: 0 2px 7px #0000009e;
    }
    .main-search-box {
        min-height: 470px;
        font-family: $font-family-sans-serif-heading ;
        input {
            font-size: 20px;
        }
    }
}

h3 {
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}


.btn-primary-inverted {
    background-color: $white;
    color: map-get($theme-colors, "primary");
}

#main-search-form {
    .form-control-lg {
        height: 57px;
    }
    .btn {
        letter-spacing: .8px;
        font-size: 19.5px;
        line-height: 19.5px;
    }
    .btn-primary-inverted {
        border: 1px solid map-get($theme-colors , 'primary' );
    }
}


.youtube-player {
    padding-top: 52%;
    position: relative;
    .youtube-player-iframe {
        position: absolute;
        height: 100%;
        width: 100% !important;
        top: 0;
        left: 0;
        background-color: #000;
    }
}

.parallax-1 {
    position: absolute;
    top: 0;
}

.recipe-of-day {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    .parallax-1 {

    }
    .container h3 {
        z-index: 20;
        position: relative;
    }

}


//card share and rating

.card {
    .rating {
        font-size: 1rem;
    }

    .share {
        .title {
            font-size: 1rem;
        }
    }
}

.player-icon::after {
    content: "\F144";
    font-family: "outline-icons";
    font-size: 1em;
    display: inline-block;
    opacity: 1;
    margin: 0em 0.25rem 0em 0em;
    width: 1.18em;
    height: 1em;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-top {
    background-color: green;
    height: 280px;
    .card-image {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        i.icon {
            // font-size: 2.5rem;
            color: rgba(255, 255, 255, .7);
            line-height: 1;
            vertical-align: middle;
            font-size: 2.5em;
        }
    }
    &:hover {
        i.icon {
            color: rgba(255, 255, 255, .9);
        }
    }
}

.arrow-border-top, .arrow-border-bottom {
    position: relative;
}
.arrow-border-top::before, .arrow-border-bottom:after {
    position: absolute;
    content: '';
    background-image: url(../../assets/images/border-icon.png);
    background-size: 50px 18px;
    display: inline-block;
    width: 100%;
    height: 18px;
    z-index: 1;
    left: 0;
}
.arrow-border-top::before {
    top: -1px;
}

.arrow-border-bottom::after {
    bottom: -2px;
    transform: rotate(180deg);
}

.card-btn {
    padding: 5px 12px;
    font-size: .7rem;
}

.rec-col {
    padding: 0 10px ;
}

.card-post {
    &:hover {
        // cursor: pointer;
    }
    &:hover .card-image-overlay {
        transform: translateY(0%);
    }
    .card-image-top {
        position: relative;
        overflow: hidden;
    }

    .card-image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #c51d227a;
        transform: translateY(100%);
        transition: all .3s ease-out;
    }

    .card-image-overlay .card-title {
        color: rgba(255, 255, 255, .9);
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
    }
}

.info {
    
    .author {
        color: #fff;
        font-size: 16px;
        text-align: center;
        margin: 0px;
        font-weight: 500;
        letter-spacing: 0;
    }

    .designation {
        text-align: center;
        font-size: 12px;
        color: #fff;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


ul.list-menu {
    padding-left: 0px;

}

.list-menu li {
    list-style: none;
    margin-bottom: 1.2rem;
    font-size: 12px;
}


footer .social-icons-lists .socicon {
    padding: 10px !important;
}

    .video-sections {
        position: absolute;
        bottom: 0px;
        width: 100%;
    
    }
    
.card-video-section {
    flex:1;
    flex-direction: column;
    justify-content: center;
    display: flex;
    &:last-child {
        border-bottom: none !important;
    }
    .card-thumb {
        &.red-hover::before {
            border: 2px solid white;
        }
    }
    img.thumb {
        border: 2px solid white;
    }
}

.video-cards-container {
    &:last-child {
        // display: none;
    }
}


#search-nav-container {

}

.card-thumb {
    position: relative;

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.red-hover::before {
        background-color: transparent;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .8;
        transition: all .3s ease-out;
    }

    &:hover.red-hover::before {
        background-color: #c51d22;
    }
}


.grid-format {
    display: flex;
    flex-flow: wrap;
    .video-card-container {
        width: 50%;
        padding: 10px;
    }
    .card-thumb-container, .card-content-container {
        flex-basis: 100%;
        max-width:100%;
    
    }
}


.square-post-01 {
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    .play-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.bottom-overlay {
    position: absolute;
    bottom: 0;
    padding: 14px 10px;
    background: rgba(0, 0, 0, .4);
    width: 100%;
}

.videopage-main-video {
    overflow: hidden;
    .bottom-overlay {
        transition: all .3s;
        h2,h3,h4 {
            letter-spacing: 0;
        }
    }
    &:hover .bottom-overlay {
        transform: translateY(100%);
    }
}

#page-blog {
    .content p {
        color: #9b9b9b;
    }
    .blog-post-card:last-child {
        border-bottom: none !important;
    }
}

#page-about {
    .family-image, .sou-image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 340px;
    }
    .sou-image {
        background-position: top center !important;
        min-height: 300px !important;
    }
    .description {
        font-family: 'Roboto Slab', serif !important;
        margin-bottom: 10px;
        font-size: 15px;
        color: #000;
        font-weight: 500;
        line-height: 20px;
        text-align: justify;
    }
}
#page-contact {
    .arrow-border-bottom::after {
        bottom: 0 !important;
    }
}

#page-recipe-post {
    .featured-image {
        display: flex;
        position: relative;
        max-height: 450px;
        z-index: 10;
        margin-top: 100px;
        overflow: hidden;
        img {
            align-self: flex-end;
        }
    }
    .article-content {
        p {
            font-size: (15/16)+rem;
        }
    }
    .share-title {
        font-size: 30px;
    }
    .heateor_sss_sharing_ul i {
        width: 35px;
        height: 35px;
    }
}



@import 'breakpoints';