@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import 'variables';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }


@include media-breakpoint-down(xs) {}
@include media-breakpoint-down(md) {

    #page-recipe-post {
        .featured-image {
            max-height: 400px;
            margin-top: 80px;
        }
    }


}

@include media-breakpoint-down(sm) {
    *[dir=rtl] {
        .footer-nav {
            .title::after {
                content: "\f0d9";
            }
        }
    }
    .footer-nav {
        padding-left: 2px;
        padding-right: 2px;
        .title {
            cursor: pointer;
        }
        .title, .list-menu {
            text-align: center !important;
        }
        .title::after {
            content: "\f0da";
            font-family: 'Icons';
            padding: 0px 10px;
            font-size: 22px;
            vertical-align: -7%;
            cursor: pointer;
            display: inline-block;
        }

        .list-menu {
            display: none;
        }
        .title.open ~ .list-menu {
            display: block;
        }
        .title.open::after {
            content: "\f0d7";
        }
    }


    #page-recipe-post {
        .image-background {
            display: none;
        }

        .featured-image {
            max-height: 250px;
            margin-top: 0px;
            padding: 0px;
        }

        .share-title {
            font-size: 26px !important;;
        }
        .heateor_sss_sharing_ul i {
            width: 25px;
            height: 25px;
        }
    }

    #main-search-form {
        input {
            flex-basis: 100% !important;
        }
        .input-group-append {
            flex-basis: 100%;  
            button {
                width: 100%;
                padding: 16px;
            }
        }
        .dropdown-menu {
            width: 100%;
        }
    }

    #main-slider {
        &:not(.slick-initialized) {
            .item {
                min-width: 130px;
            }
        }
    }
}
@include media-breakpoint-down(lg) {}