.f15 {
    font-size: (15/16) + rem;
}
.f9 {
    font-size: (9/16) + rem;
}
.f10 {
    font-size: (10/16) + rem;
}
.f11 {
    font-size: (11/16) + rem;
}
.f12 {
    font-size: (12/16) + rem;
}
.f22 {
    font-size: 1.375rem;
}

.f18 {
    font-size: (18/16) + rem;
}

.f20 {
    font-size: 20/16rem;
}
.f30 {
    font-size: (30/16)+rem;
}

.px-10px {
    padding-left: 10px;
    padding-right: 10px;
}
.mh-173 {
    min-height: 165px;
}

.text-ellipsis{
    display: inline-block;
     overflow: hidden!important;
     overflow-wrap: normal;
     text-overflow: ellipsis;
     white-space: nowrap !important;
     width: 0;
     min-width: 100%;
}
.text-bold {
    font-weight: 600 !important;
}
.font-smooth, body {
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}



.image-background {
    background-image: url(../images/background.jpg);
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 480px;
}





.spin {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.border-size-2 {
    border-width: 2px !important;
}
.border-off-white {
    border-color: #f7f4f4 !important;
}


.square-box::before {
    content: '';
    padding-top: 88%;
    float: left;
}

.square-box {
    display: flex;
    margin-bottom: 20px;
}

*[dir=rtl] {
    .ya-share2__container_size_s .ya-share2__item:last-child {
        margin-right: 3px;
    }
}

.ya-share2 a, *[dir=rtl] .ya-share2 a {
    font-family: monospace !important;
}
.ya-share2__badge {
    padding: 2px;
}
.social-share {
    &-large {
        .ya-share2__badge {
            padding: 7px;
        }
    }
    &-rounded {
        .ya-share2__badge {
            border-radius: 100px;
        }
    }
}